#spaceBG {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -3;
  }
  
  
  #title {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 100%;
    max-height: 100vh;
    
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 0px;
  }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 60%;
    height: 225px;
    
    position: relative;
    justify-content: center;
    display: flex;
    margin: -220px auto;
    

    opacity: 0;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    box-sizing: border-box;
    animation: appearance 2s linear 2s forwards, shadowGrow 1s infinite;
    
    
    border: 1px solid white;
    
   
  }
  
  

  #loginBtn {
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width:180px;
    height: 50px;
    z-index: 99;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
    position: relative;
    opacity: 0;
    animation: dropThat 1.5s linear forwards, motion 0.5s linear infinite 1.5s forwards;
    animation-delay: 4s;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #loginBtn > img {
    width: 180px;
    cursor: pointer;
  }

  @keyframes appearance{
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;     
    }
  }

  @keyframes motion {
    0% {margin-top: 0px;}
    100% {margin-top: 10px; display: block;}
  }

  @keyframes shadowGrow {
    0%{
      box-shadow: 0 20px 50px rgb(23, 32, 90);
    }
    100%{
      box-shadow: 0 20px 50px 10px rgb(40, 60, 110);
    }
  }

  @keyframes bigger {
    0%{
      width: 50%;
      height: 225px;
    }
    70%{
      width: 60%;
      height: 270px;
    }
    100%{
      width: 50%;
      height: 225px;
    }
  }
  
  @keyframes dropThat {
    0%{top: -150px; opacity: 0.3;}
    12.5%{top: -25px;}
    25%{top: 100px; opacity: 0.5;}
    37.5%{top: 225px;}
    50%{top: 450px; opacity: 1; transform:rotate(0);}

    75%{top: 275px;}
    
    100%{top:350px;opacity: 1; transform:rotate(1turn);}
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }