@keyframes OPACITY {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes titleChange {
  from {
  }
  to {
    background-image: url(../../../public/img/logo_title_empty.svg);
  }
}

@keyframes dustChange {
  0% {
    background-image: url("../../../public/img/logo_dust.svg");
    opacity: 1;
  }
  50% {
    background-image: url("../../../public/img/logo_dust_reverse.svg");
  }
  100% {
    background-image: url("../../../public/img/logo_dust.svg");
    opacity: 1;
  }
}

@keyframes logoChange {
  0% {
    background-image: url("../../../public/img/logo_badge_blue.svg");
  }
  25% {
    background-image: url("../../../public/img/logo_badge_red.svg");
  }
  50% {
    background-image: url("../../../public/img/logo_badge_blue.svg");
  }
  75% {
    background-image: url("../../../public/img/logo_badge_pink.svg");
  }
  100% {
    background-image: url("../../../public/img/logo_badge_blue.svg");
  }
}
@keyframes fistChange {
  0% {
    background-image: url("../../../public/img/fist_fire_left.svg");
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-2.5px, -2.5px);
  }
  25% {
    transform: translate(-5px, -5px);
  }
  37.5% {
    transform: translate(-2.5px, -7.5px);
  }
  50% {
    background-image: url("../../../public/img/fist_fire_right.svg");
    transform: translate(0px, -10px);
  }
  62.5% {
    transform: translate(2.5px, -7.5px);
  }
  75% {
    transform: translate(5px, -5px);
  }
  87.5% {
    transform: translate(2.5px, -2.55px);
  }
  100% {
    background-image: url("../../../public/img/fist_fire_left.svg");
    transform: translate(0, 0);
  }
}

@keyframes shadowGrow {
  0% {
    filter: drop-shadow(0 20px 50px rgb(23, 32, 90));
  }
  50% {
    filter: drop-shadow(0 20px 70px 30px rgb(40, 60, 110));
  }
  100% {
    filter: drop-shadow(0 20px 50px rgb(23, 32, 90));
  }
}
/* box-shadow: 0 20px 70px 30px rgb(40, 60, 110); */
@keyframes shadowGrow2 {
  0% {
    filter: drop-shadow(0 20px 50px rgb(23, 32, 90));
  }
  50% {
    box-shadow: 0 20px 70px 30px rgb(40, 60, 110);
  }
  100% {
    filter: drop-shadow(0 20px 50px rgb(23, 32, 90));
  }
}
@keyframes fistMovingY {
  from {
    transform: translateY(-700px);
    opacity: 1;
  }
  /* 20% {
    transform: translateY(-400px);
  } */
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fistMovingX {
  from {
    transform: translateX(-50vw) rotate(90deg);
    opacity: 1;
  }
  to {
    transform: translateX(100vw) rotate(90deg);
    opacity: 1;
  }
}
