.mainContainer {
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    justify-content: center;
}

main {
    display: flex;
    width: 100%;
    margin: auto;
}

section {
    display: flex; 
    width: 100%;
}

.article {
    width: 50%;
    height: 90vh;
    margin: 0px;
    box-sizing: border-box;
    background-color: #ffffff1a;
    border-radius: 5px 0 0 5px;
    z-index: 1;
    position: relative;
    left: 1vw;
    clip-path: polygon(0% 0%, 100% 0, 100% 45%, 95% 55%, 95% 100%, 0% 100%);
}

.profile {
  display: flex;
  float: left;
  width: 250px;
  height: 150px;
  position: relative;
  left: 17px;
  border-radius: 5px;
  background-color: #ffffff1a;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.profile2 {
  display: flex;
  float: right;
  width: 250px;
  height: 150px;
  position: relative;
  right: 17px;
  border-radius: 5px;
  background-color: #ffffff1a;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.thumbnail {
    background-image: url('https://image.shutterstock.com/image-vector/pixel-art-black-bodyguard-character-260nw-1056562499.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
    margin: auto 15px;
}

.thumbnail.circle {
    border-radius: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.content {
    text-align: left;
    padding: 5px auto;
    position: relative;
    color: #fff;
}

.content2 {
    text-align: right;
    padding: 5px auto;
    position: relative;
    color: #fff;
}

.aside {
    width: 50%;
    height: 90vh;
    margin: 0px;
    box-sizing: border-box;
    background-color: #ffffff1a;
    border-radius: 0 5px 5px 0;
    z-index: 2;
    position: relative;
    right: 1vw;
    text-align: right;
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0 100%, 0% 55%, 5% 45%);
}

.section2 {
    display: flex;
    position: absolute;
    top: 30px;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    margin: auto;
}

.cardContainer {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 3em;
    width: 90%;
    justify-content: center;
    align-items: center;  
    z-index: 3;
    position: absolute;
    bottom: 30px;
    padding: 30px;
    margin-top: 40px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.cardContainer::-webkit-scrollbar{
    width: 1vw;
}

.cardContainer::-webkit-scrollbar-thumb{
    height: 3vh;
    background-color: #fff; 
    border: 0.3vw solid #fff;
    border-radius: 5vw;    
} 

.cardContainer::-webkit-scrollbar-track{
    background-color: #0000003a;
}

.scene {
    width: 13em;
    height: 15em;
    perspective: 30em;
    cursor: pointer;
    margin: auto 30px;
    padding: 5px;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
    transition: transform .3s linear;
    transform-style: preserve-3d;
    padding: 5px auto;
}

.scene:hover .card {
    transform: rotateY(180deg);
}

.face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
    margin: auto;
}

.front {
    background-color: #ffffff1a;
    /* background-image: ; */
}

.thumbnailImg {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: auto;
}

.back {
    background-color: #333;
    transform: rotateY(180deg);
}

.reloadBtn {
    float: right;  
    position: fixed;
    right: 60px;
    bottom: 80px;
    width: 30px;
    z-index: 3;

}