.mainContainer {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

main {
    display: flex;
    width: 100%;
    margin: auto;
}

article {
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #ffffff1a;
    border-radius: 5px 0 0 5px;
    position: absolute;
    z-index: 5;
    clip-path: polygon(0% 0%, 100% 0, 100% 45%, 95% 55%, 95% 100%, 0% 100%);
}

.profileContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.profile {
    background-image: 'url(/img/mainCardPlayer.svg)';
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    float: left;
    width: 287px;
    height: 155px;
    margin: 15px;
    position: relative;
}

.profile2 {
  background-image: 'url(/img/mainCardPlayer.svg)';
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  float: right; 
  width: 287px;
  height: 155px;
  margin: 15px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.thumbnail {
    background-image: url('https://image.shutterstock.com/image-vector/pixel-art-black-bodyguard-character-260nw-1056562499.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: auto 30px;
}

.thumbnail.circle {
    border-radius: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.content {
    padding: 10px;
    position: relative;
    color: #fff;
}

.content2 {
    padding: 10px;
    position: relative;
    color: #fff;
}

.aside {
    width: 50%;
    height: 100vh;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    position: absolute;
    z-index: 2;
    right: 1vw;
    text-align: right;
    /* border-left: 3px solid #FFFAE3; */
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0 100%, 0% 55%, 5% 45%);
}

.TitlePlayer {
    display: flex;
    flex-direction: row;
}
.aside h1{
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 300px;
    right: 35px;
}
section {
    display: block;
    position: fixed;
    top: -20px;
    justify-content: left;
    align-items: left;
    width: 90%;
    height: 100vh;
    z-index: 5;
}

.cardContainer {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 11em;
    width: 90%;
    align-items: center;  
    z-index: 3;
    position: absolute;
    bottom: 8px;
    left: -30px;
    margin-left: -30px; 
    padding-bottom: 150px;
    margin-top: 40px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.cardContainer::-webkit-scrollbar{
    width: 3px;
}

.cardContainer::-webkit-scrollbar-thumb{
    height: 15px;
    background-color: #fff; 
    border: 1px solid #fff;  
} 

.cardContainer::-webkit-scrollbar-track{
    background-color: #0000003a;
}

.scene {
    width: 8em;
    height: 10em;
    perspective: 15em;
    cursor: pointer;
    /* margin: auto; */
    /* padding: 5px; */
}

.card {
    width: 226px;
    height: 272px;
    position: relative;
    transition: transform .3s linear;
    transform-style: preserve-3d;
    padding: 10px;
}

.scene:hover .card {
    transform: rotateY(180deg);
}

.face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
    margin: auto;
}

.front {
    opacity: .9;
}

.thumbnailImg {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: auto;
}

.back {
    transform: rotateY(180deg);
}

.txtVS {
    display: block;
    position: fixed;
    top: 46%;
    left: 49.5%;
    margin: -50px 0 0 -50px;
    width: 100px;
    z-index: 2;
}
/* .txtV {
    display: block;
    position: absolute;
    top: 44.5%;
    left: 49.5%;
    margin: -50px 0 0 -50px;
    width: 50px;
    z-index: 2;
}

.txtS {
    display: block;
    position: absolute;
    top: 47%;
    left: 54%;
    margin: -50px 0 0 -50px;
    width: 50px;
    z-index: 2;
} */


.btnCard {
    position: absolute;
    bottom: 42px;
    right: -60px;
    width: 220px;
    height: 272px;
    color: #fff;
    z-index: 5;
    margin: auto;
}

.btnCard h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 10px auto;
}

.btnCard img {
    display: block;
    left: 50%;
    margin: auto;
}
#btnEnter:hover, :active {
    content: 'url(/img/btnEnter_hover.svg)';
}
.reloadBtn {
    float: right;
    position: absolute;
    right: 50px;
    bottom: 13px;
    width: 30px;
    z-index: 3;
}

.mainNavBar {
    width: 162px;
    height: 64px;
    margin: 10px auto;
    position: relative;
    z-index: 10;
}
.mainNavBar div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;

}
.languageImg {
    padding: 0 5px;
    margin: 0 10px;
    width: 35px;
}

.languageImg:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.levelImg {
    padding: 0 5px;
    margin: 0 10px;
    width: 35px;
}

.levelImg:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}