.mainContainer {
    padding: 30px;
}

.section {
    display: flex;
    width: 100%;
    margin: auto;
}

.article {
    width: 50%;
    height: 90vh;
    box-sizing: border-box;
    background-color: #ddd;
    z-index: 1;
    position: relative;
    left: 2vw;
    clip-path: polygon(0% 0%, 100% 0, 100% 45%, 95% 55%, 95% 100%, 0% 100%);
}

.aside {
    width: 50%;
    height: 90vh;
    box-sizing: border-box;
    background-color: #222;
    z-index: 2;
    position: relative;
    right: 2vw;
    text-align: right;
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0 100%, 0% 55%, 5% 45%);
}

.cardContainer {
   display: grid;
   grid-template-columns: repeat(auto-fit, 13em);
   gap: 3em;
   width: 95%;
   justify-content: center;
   align-items: center;
   position: absolute;
   z-index: 3;
   bottom: 150px;
   margin: auto 5px;
   padding: auto 5px;
}

.scene {
    width:13em;
    height:15em;
    border-radius: 5px;
    perspective: 30em;
    cursor: pointer;
    margin: auto 30px;
}

.card {
    width:100%;
    height:100%;
    position:relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.scene:hover .card {
    transform: rotateY(180deg);
}

.face {
    width:100%;
    height:100%;
    color:#FFF;
    line-height:15em;
    text-align:center;
    position:absolute; 
    backface-visibility:hidden;
}

.front {
    background-color: #0DFF92;
}

.back {
    background-color:#333;
    transform: rotateY(180deg);
}

