/* @font-face {
    font-family: "PFstardust";        
    src: url("./font/PFstardust.ttf"); 
  }
  font-family */

  @font-face {
    /* 사용할 폰트의 이름 */
    font-family: "PFstardust";
    font-display: fallback;
  
    /* 
    src: 사용할 폰트의 위치 및 형식 
       Safari, Android, iOS => ttf
       Modern Browsers => woff
       IE6-IE8 => eot
    */
    src: url("./PFstardust.ttf") format("truetype"), url("./PFstardust.woff")
        format("woff"), url("./PFstardust.eot?iefix") format("embedded-opentype");
  
    /* 사용할 폰트의 기본 스타일 */
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
  }