.bgmVolume
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  gap: 4%;
  width: 50%;
  height: 100%;
}

.bgmVolume input[type="radio"]
{
    display: none;
}

.bgmVolume label
{
  display: block;
  width: calc((6vh + 6vw) / 4);;
  height: calc((6vh + 6vw) / 4);;
  background-image: url("../../public/img/BtnOff.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: calc((2vh + 2vw) / 4);
  color: black;
  text-align: center;
  line-height: calc((6vh + 6vw)/4);
}

.bgmVolume input[type="radio"]:checked + label
{
  background-image: url("../../public/img/BtnOn.svg");
  transition: 0.5s;
  color: white;
}

.esVolume
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 4%;
    width: 50%;
    height: 100%;
}

.esVolume input[type="radio"]
{
    display: none;
}

.esVolume label
{
    display: block;
    width: calc((6vh + 6vw) / 4);;
    height: calc((6vh + 6vw) / 4);;
    background-image: url("../../public/img/BtnOff.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: calc((2vh + 2vw) / 4);
    text-align: center;
    line-height: calc((6vh + 6vw)/4);
}

.esVolume input[type="radio"]:checked + label
{
    background-image: url("../../public/img/BtnOn.svg");
    transition: 0.5s;
    color: white;
}