.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}
.loader .face{
  position: absolute;
  border:2px solid #ffffff1a;
}
.loader .face.face1{
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background:090909;
  box-shadow:0 0 10px #ffffff1a;
  border-radius: 50%;
  border-left: 2px solid #d84869;
  border-top: 2px solid #d84869;
  animation: spin1 .5s linear infinite;
}
/* .loader .face.face2{
  top: 30px;
  left:30px;
  right: 30px;
  bottom: 30px;
background: linear-gradient(-180deg, #5622ff, #4190fd);
  box-shadow:0 0 10px #ffffff1a;
  border-radius: 50%;
  border-right: 2px solid #5622ff;
  border-bottom: 2px solid #5622ff;
  animation: spin2 .5s linear infinite;

} */
.loader .face .circle{
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 50%;
  height: 2px;
  transform-origin: left;
}
.loader .face.face1 .circle{
  transform: rotate(-45deg);
}
/* .loader .face.face2 .circle{
  transform: rotate(-45deg);
} */
.loader .face .circle:before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff1a;
  top: -4px;
  right: -6px;
}
.loader .face.face1 .circle:before{
  background:#d84869;
  box-shadow: 0 0 20px #d84869,0 0 40px #d84869,0 0 60px #d84869,0 0 80px #d84869,
  0 0 100px #d84869,0 0 0 5px #ffffff1a;
}

/* .loader .face.face2 .circle:before{
  background:#5622ff;
  box-shadow: 0 0 20px #5622ff,0 0 40px#5622ff, 0 0 60px #5622ff, 0 0 80px #5622ff,
  0 0 100px #5622ff,0 0 0 5px #ffffff1a;
} */

.num {
    font-size: 100px;
    color: #fff;
    position: relative;
    margin: auto;
}




