.ModalBox {
  width: 60%;
  height: 70%;
  margin: auto;
  background: #0c1119;
  position: relative;
  border-radius: 5px;
  margin-top: 100px;
  display: flex;
  animation: modalAnimation 0.5s linear forwards;
}
.ruleBox {
  background-color: white;
  width: 60%;
  height: 78%;
  margin-top: 5%;
}

@keyframes modalAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  width: 100%;
  height: 8%;

  position: absolute;

  border-top-left-radius: 5px;
  top: 0px;
  left: 0;
  background-color: #5777ce;
  z-index: 2;
  text-align: center;
}

header h2 {
  color: #fff;
  font-family: Neo;

  display: flex;

  align-items: center;
  justify-content: center;

  width: inherit;
  height: 100%;

  margin-top: auto;
}

.ModalBody {
  display: flex;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.ModalContent {
  position: relative;
  height: 92%;
  width: inherit;
  top: 4%;
  color: #fff;
  /* background-color: rgba(255, 255, 255, 0.3); */
  margin: auto;
  overflow-y: auto;
  border-radius: 5px;

  float: left;
}

.ruleContent {
  position: relative;
  display: flex-box;
  top: 0%;
  border-radius: 0px;

  font-family: Neo;
  font-size: calc((2vw + 2vh) / 1.5);
  height: 100%;
  color: black;
  text-align: center;
}

.ruleList {
  padding-top: 20px;
  padding-bottom: 0px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 100%;
  border-radius: 5px;
}

.qQTitle {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  font-weight: 600;
  width: 94%;
  /* border: 1px solid red; */
}

.qTitle {
  font-weight: 600;
  width: 100%;
  /* border: 1px solid red; */
}

.Qrule {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: black;
  color: white;
}

.qQue {
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
}

.q {
  margin-top: 20px;
  width: 100%;
}

.ModalContent::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.ModalContent::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 0.3px solid #fff;
  border-radius: 5vw;
}

.ModalContent::-webkit-scrollbar-track {
  background-color: #0000003a;
}

.ExitBtn {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 2px;
  width: 25px;
  height: 25px;
  z-index: 2;
}

.quest {
  display: flex;
  position: absolute;
  top: -15px;
  right: -15px;
  margin: 2px;
  width: 25px;
  height: 25px;
  z-index: 2;
}

.ExitBtn:hover {
  content: url("/public/img/X_btn_white_30.svg");
}

.ConfettiTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.ConfettiTxt img {
  animation: confettiAnimation 0.7s;
  animation-iteration-count: 1;
}

@keyframes confettiAnimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

.ConfettiTxt img:nth-child(1) {
  animation-delay: 0s;
}

.ConfettiTxt img:nth-child(2) {
  animation-delay: 0.1s;
}

.ConfettiTxt img:nth-child(3) {
  animation-delay: 0.2s;
}

.ConfettiTxt img:nth-child(4) {
  animation-delay: 0.3s;
}
/* 
.ConfettiTxt img:nth-child(5) {
  animation-delay: 0.4s;
}

.ConfettiTxt img:nth-child(6) {
  animation-delay: 0.5s;
}

.ConfettiTxt img:nth-child(7) {
  animation-delay: 0.6s;
} */
