.ModalBox {
  width: 60%;
  height: 70%;
  margin: auto;
  background: #0c1119;
  position: relative;
  border-radius: 5px;
  margin-top: 100px;
  display: flex;
  animation: modalAnimation 0.5s linear forwards;
}

@keyframes modalAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header {
  width: 100%;
  height: 8%;
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #5777ce;
  z-index: 2;
  text-align: center;
  border-bottom: 5px solid black;
}

header h2 {
  color: #fff;
  font-family: Neo;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 100%;
  margin-top: auto;
}

.ModalBody {
  display: flex;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-radius: 10px;
}

.ModalContent {
  position: relative;
  height: 92%;
  width: 100%;
  top: 4%;
  color: #fff;
  margin: auto;
  overflow-y: auto;
  text-align: left;
  background-color: #0c1119;
}

.qQTitle{
  margin-top: 3%;
  margin-left:3%;
  margin-right: 3%;
  font-weight: 900;
  width: 94%;
  line-height: 1.5;
  font-size: calc((2vw + 2vh) / 2.5);
  font-family: Neo;
}

.qQue {
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  line-height: 1.5;
  font-size: calc((2vw + 2vh) / 3);
  font-family: Neo;
  /* letter-spacing: 1px; */
}

.qTitle {
  font-weight: 600;
  width: 100%;
  /* border: 1px solid red; */
}

.ModalContent::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.ModalContent::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 0.3px solid #fff;
  border-radius: 5vw;
}

.ModalContent::-webkit-scrollbar-track {
  background-color: #0000003a;
}

.ExitBtn {
  display: flex;
  position: absolute;
  top: -20vh;
  right: -20vw;
  margin: 2vh 2vw;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.ExitBtn:hover {
  content: url("/public/img/X_btn_white_30.svg");
}

.RuleBox {
  background-color: white;
  width: 60%;
  height: 78%;
  margin-top: 5%;
}

.RuleTitle {
  /* margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%; 
  width: 94%; 
  line-height: 1.5; */
  letter-spacing: 1px;
  background-color: black;
}

.RuleTitle h2 {
  color: white;
  font-weight: 600;
}

.RuleContent {
  position: relative;
  display: flex-box;
  top: 0%;
  margin: 0;
  padding:0;
  overflow-y: auto;
  font-family: Neo;
  font-size: calc((2vw + 2vh) / 1.6);
  width: inherit;
  height: 99%;
  color: black;
  text-align: center;
  border: 5px solid black;
}

.RuleList {
  padding-top: 8vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 98%;
  border-radius: 5px;
}

.RuleList p {
  text-align: left;
  line-height: 5px;
}
.RuleContent::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.RuleContent::-webkit-scrollbar-thumb {
  background-color: #eee;
  border: 0.3px solid #ddd;
  border-radius: 5vw;
}

.RuleContent::-webkit-scrollbar-track {
  background-color: #000;
}

.RuleExitBtn {
  display: flex;
  position: absolute;
  top: -15px;
  right: -15px;
  margin: 2px;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.RuleExitBtn:hover {
  content: url("/public/img/X_btn_white_30.svg");
}

.ConfettiTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.ConfettiTxt img {
  animation: confettiAnimation 0.7s;
  animation-iteration-count: 1;
}

@keyframes confettiAnimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

.ConfettiTxt img:nth-child(1) {
  animation-delay: 0s;
}

.ConfettiTxt img:nth-child(2) {
  animation-delay: 0.1s;
}

.ConfettiTxt img:nth-child(3) {
  animation-delay: 0.2s;
}

.ConfettiTxt img:nth-child(4) {
  animation-delay: 0.3s;
}
