.Triangle {
  position: relative;
  top: 0.5%;
  right: 0.19%;
  width: 6%;
  height: 90%;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background-color: #5777ce;
  border-top: 3px solid #c0cfff;
}
